/* menu.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    background-color: #333;
    color: #fff;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    background-color: #555;
  }
  
  