.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}
body{
    background-color: #fafaf8;
}
h1 {
    text-align: center;
    color: #000000;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2fb922;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #006400;
    text-decoration: none;
}
