/* registrar.Administrador.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 20px auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
  }
  
  /* Estilos específicos */
  #registrationForm {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #registrationForm label {
    font-weight: bold;
  }
  
  #registrationForm input[type="submit"] {
    background-color: #008CBA;
  }
  
  #registrationForm a {
    color: #008CBA;
  }
  
  